.navbar{
    width: 100%;
    padding: .75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar li{
    list-style: none;
}

.navbar ul li a{
    color: rgba(78, 85, 208, 0.8);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #535bf2;
}

.navbar ul li a.active{
    color: #646cff;
}

/*
.navbar ul li a.pending{
    
}

.navbar ul li a.transitioning{

}
*/